.images img {
    width: 250px;
}

h2 {
    padding: 20px 0px;
    color: green;
}

h4 {
    padding: 10px 0px;
}

.our-services {
    padding-bottom: 10px;
}

.jumbotron {
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}